body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #fff;
  background: #FFFFFF;
  font-weight: 400; }

a,
a:hover {
  text-decoration: none;
  transition: 0.3s; }

.mr-0 {
  margin-right: 0px !important; }

.pd-0 {
  padding: 0px !important; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.lg-num {
  font-size: 16px; }

img {
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.mtb100 {
  margin: 100px 0; }

.mtb15 {
  margin: 15px 0; }

.mt15 {
  margin-top: 15px; }

.mb15 {
  margin-bottom: 15px; }

.ml15 {
  margin-left: 15px; }

.mr15 {
  margin-right: 15px; }

.mb30 {
  margin-bottom: 30px; }

.ptb70 {
  padding: 70px 0; }

.pt70 {
  padding-top: 70px; }

.pb40 {
  padding-bottom: 40px; }

::-webkit-scrollbar {
  background: transparent;
  width: 3px;
  height: 6px; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.07);
  border: solid rgba(88, 88, 88, 0.12) 2px;
  border-radius: 5px; }

.dropdown-toggle::after {
  vertical-align: 1px; }

thead th {
  color: #758696;
  font-size: 13px;
  font-weight: 600;
  border: 0 !important; }

tbody tr {
  color: #4a4a4a; }

tbody tr:hover {
  background: #f6f8f9; }

.input-group-text,
.form-control {
  border-radius: 5px; }

.table tbody + tbody {
  border: none; }

.heading {
  background: #f5f9fc;
  font-size: 14px;
  font-weight: 400;
  padding: 13px;
  margin: 0;
  color: #4a4a4a; }

.green {
  color: #26de81; }

.red {
  color: #d02b35; }

.blue {
  color: #0086cc; }

.grey {
  color: #474d52; }

.bg-green {
  background-color: #26de81; }

.bg-red {
  background-color: #d02b35; }

.bg-blue {
  background-color: #0086cc; }

.bg-grey {
  background-color: #474d52; }

.table td,
.table th {
  border-top: 1px solid #f0f3fa; }

.light-bb,
.input-group-text {
  border: 1px solid #e0e3eb; }

.sm-gutters {
  padding-left: 7.5px;
  padding-right: 7.5px; }

.sm-gutters > .col,
.sm-gutters > [class*='col-'] {
  padding-right: 7.5px;
  padding-left: 7.5px; }

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #18214d59; }

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #18214d59; }

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #18214d59; }

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #18214d59; }

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none; }

.market-pairs {
  border: 1px solid #e0e3eb; }
  .market-pairs .table {
    margin-bottom: 0px; }

.market-pairs .input-group {
  padding: 0 10px; }

.market-pairs span {
  background: transparent; }

.market-pairs input {
  border-color: #e0e3eb;
  border-left: 0;
  font-weight: 300; }

.market-pairs input:focus {
  box-shadow: none;
  border-color: #e0e3eb; }

#dark {
  background: #131722; }
  #dark .market-pairs {
    border: 1px solid #2a2e39;
    background: #131722; }
  #dark .table > thead {
    vertical-align: bottom;
    background-color: #3d3d3d; }
  #dark .market-pairs .table td {
    border-top: 1px solid #2a2e39;
    font-size: 12px;
    padding: 5px 10px;
    word-break: break-all;
    border-bottom-width: 0px; }
  #dark .market-pairs .table th {
    color: #ffffff;
    border-top: 1px solid #2a2e39;
    font-size: 12px;
    padding: 5px 10px;
    word-break: break-all;
    border-bottom-width: 0px; }

#dark .market-history .nav-link {
  display: block;
  padding: 0.3rem 1rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #495057; }
#dark .market-history .nav-tabs {
  border-bottom: 1px solid #2a2e39; }
  #dark .market-history .nav-tabs .nav-item.show .nav-link,
  #dark .market-history .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #27272c;
    border-color: #2a2e39 #2a2e39 #2a2e39; }
#dark .market-history .nav-link:focus,
#dark .market-history .nav-link:hover {
  color: #fff; }

#dark .market-history {
  border: 1px solid #2a2e39; }

#dark tbody tr:hover {
  background: #2a2e39; }

#dark .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #69727a; }

#dark .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #69727a; }

#dark .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #69727a; }

#dark .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #69727a; }

#dark tbody tr {
  color: #ffffff; }

#dark thead th,
#dark .market-pairs .nav-link {
  color: #4f5966; }

#dark .market-pairs .nav-link.active,
#dark #STAR i {
  color: #ffffff; }

#dark .green {
  color: #26de81; }

#dark .red {
  color: #ff231f; }

#dark .market-pairs .nav {
  background: #1c2030; }

#dark .market-pairs input {
  border-color: #2a2e39;
  background: #2a2e39; }

#dark .market-pairs input {
  color: #ffffff; }

#dark .heading {
  background: #1c2030;
  color: #ffffff; }

#dark .ob-heading tr {
  border-top: 1px solid #2a2e39 !important;
  border-bottom: 1px solid #2a2e39 !important; }

#dark .ob-heading tr:hover {
  background: #131722;
  cursor: default; }

#dark .ob-heading span {
  color: #4f5966; }

#dark .dropdown-menu {
  background: #131722;
  box-shadow: 0 0 10px 0 #131722;
  border: 1px solid #2a2e39; }

#dark .dropdown-item:focus,
#dark .dropdown-item:hover {
  background-color: #2a2e39;
  color: #ffffff; }

.search-sec {
  margin-top: 10px; }

.header-title {
  background-color: #27272c;
  color: #fff;
  padding: 5px; }
  .header-title .icon span {
    margin-right: 5px; }
    .header-title .icon span.icon-btn {
      background-color: #45464b;
      padding: 2px 4px;
      cursor: pointer; }

.cfd-acc {
  margin-top: 10px;
  margin-bottom: 10px; }
  .cfd-acc .forex-list ul li {
    border-bottom: 1px solid #2a2e39;
    padding: 4px 15px;
    font-size: 12px; }
    .cfd-acc .forex-list ul li .icon {
      margin-right: 5px; }
    .cfd-acc .forex-list ul li i {
      color: #758696; }
  .cfd-acc .accordion-item {
    border-bottom: 1px solid #2a2e39;
    background-color: transparent; }
  .cfd-acc .accordion-button:not(.collapsed) {
    color: #bd9e55; }
  .cfd-acc .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit; }
  .cfd-acc .accordion-collapse {
    background-color: #282829;
    color: #fff; }
    .cfd-acc .accordion-collapse .accordion-body {
      background-color: #282829;
      padding: 0px; }
      .cfd-acc .accordion-collapse .accordion-body .inner-acc {
        padding: 0px 10px;
        background-color: #282829; }
  .cfd-acc .accordion-button {
    background-color: #282829;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 15px;
    display: block; }
    .cfd-acc .accordion-button:after {
      background-image: none;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f056";
      float: left;
      margin-right: 5px;
      width: auto;
      height: auto;
      transition: none;
      margin-left: auto;
      color: #bd9e55; }
    .cfd-acc .accordion-button.collapsed:after {
      background-image: none;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f055";
      color: #bd9e55; }

.graph-sec iframe {
  border: 1px solid #3d3d3d; }

.buy-sell-sec {
  padding: 0px 11px; }
  .buy-sell-sec .sub-dashboard-data-sec {
    position: relative;
    padding: 1px; }
    .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data {
      background-color: #3d3d3d; }
      .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .sub-dashboard-body {
        padding: 4px; }
      .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .header {
        background-color: #2f2f35;
        padding: 0px 5px; }
        .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .header .close {
          font-size: 12px;
          margin: 2px; }
      .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .dropdown-sec {
        padding: 4px; }
        .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .dropdown-sec .dropdown-value select {
          width: 100%;
          background: #2f2f35;
          color: #fff; }
        .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .dropdown-sec .dropdown-value .btn-secondary {
          color: #fff;
          background-color: transparent;
          border-color: aliceblue; }
        .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .dropdown-sec .dropdown-value .dropdown-menu {
          max-width: auto;
          min-width: auto; }
      .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .info {
        font-size: 12px;
        color: #cbcbcb; }
      .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .fig {
        padding: 15px; }
        .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .fig span {
          font-size: 20px; }
      .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .sell {
        text-align: center;
        color: #fff;
        font-size: 16px; }
      .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .buy {
        text-align: center;
        color: #fff;
        font-size: 16px; }
      .buy-sell-sec .sub-dashboard-data-sec .sub-dashboard-data .rating {
        position: absolute;
        text-align: center;
        border: 2px solid #3d3d3d;
        bottom: 0px;
        background-color: #656565; }

/*# sourceMappingURL=style.css.map */
